<div>
  <div
    class="container mx-auto border-2 rounded-md w-56 ml-0 bg-yellow-300 :first-letter-text-transform: capitalize"
  >
    <ul>
      Pokedex List: @if (listPokemons) { @for (pokemon of listPokemons; track $index) {
      <li>
        <a
          class="cursor-progress text-cyan-500 animate-pulse"
          (click)="navigateDetails(pokemon.name)"
          >Pokemon:{{ pokemon.name }}</a
        >
      </li>
      } }
    </ul>
  </div>
  <div class="inline-flex gap-3">
    <button
      [disabled]="isPrevDisabled"
      (click)="paginationHandler('prev')"
      class="bg-green-400 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l"
    >
      Prev
    </button>
    <p class="mt-2 animate-ping"><====></p>
    <button
      [disabled]="isNextDisabled"
      (click)="paginationHandler('next')"
      class="bg-green-500 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r"
    >
      Next
    </button>
  </div>
</div>
