@use 'tailwindcss'; 
body {
   
background-attachment: fixed;
min-height: 100vh;
width: 100%;
background-position: center; 
background-size: cover;     
background-repeat: no-repeat;
background-image: url("/pokedex.png");
}

