<!-- <p>search works!</p>
<input
  [(ngModel)]="pokemonName"
  type="text"
  id="name"
  autocomplete="off"
  placeholder=" "
  class="form__input"
  (keyup.enter)="ngOnInit()"
/> -->
<!-- <label (click)="ngOnInit()" for="name">Name or ID</label>
<button class="btn" (click)="ngOnInit()">FIND</button>
{{ pokemon?.name }}
{{ pokemon?.id }}
{{ pokemon?.name }}
{{ pokemon?.imgSprite }}
{{ pokemon?.imgSpriteBack }}
<img [src]="pokemon?.imgSprite" alt="" />
<img [src]="pokemon?.imgSpriteBack" alt="" />
@if (pokemon) { @for(ability of pokemon.abilities; track $index) {
{{ ability.name }}
{{ ability.description }}
{{ ability.isHidden }}
} @for (form of pokemon.forms; track $index) { name: {{ form.name }}
<img [src]="form.frontDefault" alt="" />
<img [src]="form.backDefault" alt="" />
} @for (move of pokemon.moves; track $index) {
{{ move.name }}
{{ move.description }}
} }@else {
<span> nie znalazlem pokemona </span>
} -->

<router-outlet></router-outlet>
